.container{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    color: var(--text-color);
    background: var(--primary-color);
		   
}

.colorControlsContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.colorSample{
    width: 30px;
    height: 30px;
}
